.main_pane {
    /*-fx-background-color: BLACK; /*DEBUG ONLY*/
}

.label {
    -fx-text-fill: WHITE;
    -fx-font-size: 14;
}

.text-field {
    -fx-text-fill: WHITE;
    -fx-border-color: #136a99;
    -fx-border-width: 1;
    -fx-background-color: BLACK;
}

.password-field {
    -fx-text-fill: WHITE;
    -fx-border-color: #136a99;
    -fx-border-width: 1;
    -fx-background-color: BLACK;
}

.button {
    -fx-text-fill: WHITE;
    -fx-border-color: #136a99;
    -fx-border-width: 1;
    -fx-background-color: BLACK;
}
