.main_pane {
    -fx-background-image: url("../res/img/oberon_from_discord.png");
    -fx-background-repeat: stretch;
}

.label {
    -fx-text-fill: WHITE;
    -fx-font-size: 14;
}

.choice-box {
    -fx-text-fill: WHITE;
    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-background-color: BLACK;
    -fx-mark-color: #136a99 ;
}

.text-field {
    -fx-text-fill: WHITE;
    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-background-color: BLACK;
}

/* highlight colour when focused on something in choice box: */
.choice-box .menu-item:focused {
    -fx-background-color: #136a99;
}

/* colour of choice box drop down: */
.choice-box .context-menu {
    -fx-background-color: BLACK ;
}

.password-field {
    -fx-text-fill: WHITE;
    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-background-color: BLACK;
}

.button {
    -fx-text-fill: WHITE;
    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-background-color: BLACK;
}